{% extends "base.html" %}

{% block title %}
Add New Product
{% endblock %}

{% block content %}
<!--Add Product Page -->
<div class="container content-center">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto page-heading">
            <h1>New Product</h1>
            <span class="subheading">Add New Product Model</span>
        </div>
    </div>
</div>
<div class="row form-row">
    <div class="col-8 col-md-6 form-col">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
<div class="row form-row">
    <div class="col-8 col-md-6 form-col">
        {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'}) }}
    </div>
</div>
{% endblock %}

